# Rename this file to .env and update the token with your own login token
# This is how you can create a token:
# https://docs.github.com/en/enterprise-server@3.6/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens
MY_GITHUB_TOKEN=github_pat_123_put_your_token_here